<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antmillion.mypage.mapper.MyPageMapper">

	
	<select id="selectStockHoldings" resultType="com.antmillion.mypage.dto.StockHoldingsDTO">
	    SELECT
	        s.stock_name AS "name", 
	        s.stock_code AS "code",
	        a.quantity AS "shares", 
	        a.purchase_amount AS "buyPrice",
	        a.avg_price AS "avgBuyPrice"
	    FROM
	        asset a
	        JOIN stock s ON a.stock_code = s.stock_code
	    WHERE
	        a.account_id = #{accountId}
    </select>
    
    <select id="selectRealizedProfit" resultType="com.antmillion.mypage.dto.RealizedProfitDTO">
	    SELECT 
	        s.stock_name AS "name",
	        tl.trade_quantity AS "shares",
	        COALESCE(
	            (SELECT a.avg_price FROM asset a 
	             WHERE a.account_id = #{accountId} AND a.stock_code = so.stock_code),
	            (SELECT tl_buy.trade_price FROM trade_log tl_buy 
	             JOIN stock_order so_buy ON tl_buy.order_id = so_buy.order_id
	             WHERE so_buy.account_id = #{accountId} 
	               AND so_buy.stock_code = so.stock_code 
	               AND so_buy.transaction_type = 'BUY'
	             ORDER BY tl_buy.trade_date DESC LIMIT 1)
	        ) AS "buyPrice",
	        tl.trade_price AS "sellPrice",
	        (tl.trade_price - (SELECT buyPrice)) * tl.trade_quantity AS "profit",
	        CASE 
	            WHEN (SELECT buyPrice) = 0 THEN 0
	            ELSE ROUND(((tl.trade_price - (SELECT buyPrice)) / (SELECT buyPrice)) * 100, 2)
	        END AS "profitRate",
	        DATE_FORMAT(tl.trade_date, '%Y-%m-%d %H:%i:%s') AS "tradeDate"
	    FROM trade_log tl
	    JOIN stock_order so ON tl.order_id = so.order_id
	    JOIN stock s ON so.stock_code = s.stock_code
	    WHERE so.account_id = #{accountId}
	      AND so.transaction_type = 'SELL'
	      <if test="startDate != null and startDate != ''">
	          AND tl.trade_date &gt;= #{startDate}
	      </if>
	      <if test="endDate != null and endDate != ''">
	          AND tl.trade_date &lt;= STR_TO_DATE(CONCAT(#{endDate}, ' 23:59:59'), '%Y-%m-%d %H:%i:%s')
	      </if>
	    ORDER BY tl.trade_date DESC
	</select>
	
	
	<select id="selectExecutedOrders" resultType="com.antmillion.mypage.dto.ExecutedOrdersDTO">
	    SELECT 
	        s.stock_name AS "stockName",
	        s.stock_code AS "stockCode",
	        o.quantity AS "orderQty",
	        o.order_price AS "orderPrice",
	        o.transaction_type AS "type",
	        (o.quantity * o.order_price) AS "orderAmount",
	        DATE_FORMAT(o.created_at, '%Y-%m-%d %H:%i:%s') AS "orderTime",
	        COALESCE(t.total_qty, 0) AS "executedQty",
	        (o.quantity - COALESCE(t.total_qty, 0)) AS "unexecutedQty",
	        ((o.quantity - COALESCE(t.total_qty, 0)) * o.order_price) AS "unexecutedAmount",
	        t.avg_price AS "executedPrice",
	        DATE_FORMAT(o.updated_at, '%Y-%m-%d %H:%i:%s') AS "executedTime"
	    FROM stock_order o
	    JOIN stock s ON o.stock_code = s.stock_code
	    LEFT JOIN (
	        SELECT order_id, 
	               SUM(trade_quantity) as total_qty, 
	               AVG(trade_price) as avg_price 
	        FROM trade_log 
	        GROUP BY order_id
	    ) t ON o.order_id = t.order_id
	    WHERE o.account_id = #{accountId}
	      AND o.created_at >= STR_TO_DATE(#{startDate}, '%Y-%m-%d')
	      AND o.created_at &lt; DATE_ADD(STR_TO_DATE(#{endDate}, '%Y-%m-%d'), INTERVAL 1 DAY)
	    ORDER BY o.created_at DESC
	</select>
	
    

	<select id="selectAccountInfo" resultType="com.antmillion.mypage.dto.AccountInfoDTO">
	    SELECT 
	        m.nickname AS "nickname",
	        a.account_number AS "accountNumber",
	        a.balance AS "balance",
	        a.account_created_at AS "createdAt"
	    FROM account a
	    JOIN member m ON a.user_id = m.user_id
	    WHERE a.account_id = #{accountId}
	</select>

</mapper>