<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antmillion.mypage.mapper.MyPageMapper">

	
	<select id="selectStockHoldings" resultType="map">
	    SELECT
	        s.stock_name AS "name", 
	        s.stock_code AS "code",
	        a.quantity AS "shares", 
	        a.purchase_amount AS "buyPrice",
	        a.avg_price AS "avgBuyPrice"
	    FROM
	        asset a
	        JOIN stock s ON a.stock_code = s.stock_code
	    WHERE
	        a.account_id = #{accountId}
    </select>

</mapper>